<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-lock"></span> Node Authentication
                <%= message %>
            </h1>

            <p>Login or Register with:</p>
            <a href="/auth/facebook" class="btn btn-primary">
                <span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/google" class="btn btn-danger">
                <span class="fa fa-google-plus"></span> Google</a>
        </div>

    </div>
    <script src="js/app.js"></script>
</body>

</html>